/*========================================================================================================*/
/*== Header                                                                                            ===*/
/*========================================================================================================*/

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.5);
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.navigationBar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 40px;
}

header .logo {
    margin: 20px 0px 20px 0px;
}

header .logo a {
    display: block;
    /* background: url(../images/logo/digitrend/digitrend_logo.svg) no-repeat; */
    width: 176px;
    height: 40px;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}


/*========================================================================================================*/
/*== Menu                                                                                              ===*/
/*========================================================================================================*/

header .menu {
    overflow: hidden;
}

header .menu ul {
    display: flex;
}

header .menu ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 20px;
    padding: 30px 20px;
    display: block;
}

header .menu ul li a:hover{
    background:#333 ;
}

header .menu ul li ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    display: none;   
}

header .menu ul li ul li{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .menu ul li:focus-within > ul,
header .menu ul li:hover > ul{
    display: initial;
}

/*========================================================================================================*/
/*== Menu Icon                                                                                         ===*/
/*========================================================================================================*/

header .menuIcon {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0px;
    user-select: none;
    width: 100%;
    cursor: pointer;
}

header .menuIcon .navIcon {
    position: relative;
    background: #fff;
    display: block;
    height: 3px;
    width: 30px;
    transition: background 0.2s ease-out;
}

header .menuIcon .navIcon:before {
    top: 9px;
}

header .menuIcon .navIcon:after {
    top: -9px;
}

header .menuIcon .navIcon:before,
header .menuIcon .navIcon:after {
    position: absolute;
    background: #fff;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
}

/*========================================================================================================*/
/*== Menu Button                                                                                       ===*/
/*========================================================================================================*/

header #menuActive {
    display: none;
}

header #menuActive:checked~.menu  {
    max-height: 800px;
}

header .example.active  {
    max-height: 800px;
}
header .example  {
    max-height: 0;
}

header #menuActive:checked~.menuIcon .navIcon {
    background: transparent;
}

header #menuActive:checked~.menuIcon .navIcon:before {
    transform: rotate(-45deg);
}

header #menuActive:checked~.menuIcon .navIcon:after {
    transform: rotate(45deg);
}

header #menuActive:checked~.menuIcon:not(.steps) .navIcon:before,
header #menuActive:checked~.menuIcon:not(.steps) .navIcon:after {
    top: 0;
}